/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
*.jpg
src/main/resources/application.properties
src/main/resources/application.properties
src/main/resources/static/images/crawlProduct/edDJZgrO1.png
src/main/resources/static/images/crawlProduct/gTKiRwqa4.png
src/main/resources/static/images/crawlProduct/HeBOJLTN4.png
src/main/resources/static/images/crawlProduct/IlPYCHLr4.png
src/main/resources/static/images/crawlProduct/KBbvTWrn1.png
src/main/resources/static/images/crawlProduct/njbjnzgb4.png
src/main/resources/static/images/crawlProduct/pPIbBDNI1.png
src/main/resources/static/images/crawlProduct/qLOAzoIJ1.png
src/main/resources/static/images/crawlProduct/RjKtFCwf1.png
src/main/resources/static/images/crawlProduct/RqisjyAh4.png
src/main/resources/static/images/crawlProduct/XCsMFMBA4.png
src/main/resources/static/images/crawlProduct/XEGHdubw1.png
src/main/resources/static/images/crawlProduct/YCaKVbCn4.png
src/main/resources/static/images/crawlProduct/zmPURlRK1.png
src/main/resources/application.properties
*.png
